button {
    /* Text */
    text-transform: uppercase;
    color: #555;
    font-weight: bold;
    font-size:26px;
    font-family: arial;
    letter-spacing: -1px;
    text-shadow: 0 1px 0 #DEDEDE;

    /* button box */
    height:60px;
    padding:0 30px;
    border: 1px solid #ABABAB;
    border-radius: 10px;
    box-shadow: 0 2px 2px #616161, 0 0 0 6px #CBCBCB, 0 0 0 8px #fff, 0 0 0 10px #666, 0 5px 7px 7px #D1D1D1, inset 0 28px 0 rgba(255,255,255, .2);

    /* Background*/
    background: linear-gradient(to bottom, #e3e3e3 0%, #d2d2d2 50%, #c6c6c6 51%, #adadad 100%);

    /* Position*/
    position: relative;
}
  
/* Pseudo Elements*/
button::before, button::after {
    content: "✭";
}

button::before {
    margin-right: 15px;
}

button::after {
    margin-left: 15px;
}